@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  background: none;
  display: block;
  height: 46px;
  left: 50%;
  margin: -23px 0 0 -23px;
  position: absolute;
  top: 50%;
  width: 46px;
}
.loader:after {
  animation: lds-dual-ring 1.2s linear infinite;
  border: 5px solid main-palette(A400);
  border-color:  main-palette(A400) transparent  main-palette(A400) transparent;
  border-radius: 50%;
  content: " ";
  display: block;
  height: 46px;
  margin: 0;
  width: 46px;
}
